@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian text-white;
  }
}

.glass-panel {
  @apply bg-glass backdrop-blur-md border border-white/10 rounded-xl;
}
